.movie-button {
    color: #f5a9b86e;
  }
  @media (min-width: 425px) and (max-width: 768px) {
    .col-md-3 {
      grid: 1fr 1fr 1fr;
      width: auto;
      margin: 10px;
    }
    div.card-title.h5 {
      font-size: small;
    }
    p.card-text {
      font-size: small;
    }
    div.card-body {
      height: 150px;
    }
  }
  div.card-title.h5 {
    font-size: small;
  }
  p.card-text {
    font-size: small;
  }
  button.movie-button.btn.btn-link {
    font-size: small;
  }
  @media (min-width: 769px) {
    div.card-title.h5 {
      font-size: small;
    }
    p.card-text {
      font-size: small;
    }
    div.card-body {
      height: 180px;
    }
    .card {
      margin: 4px;
    }
  }
  